<div class="col-12 border border-1 m-1 conten">
  <img class="banner" [src]="miPorfolio?.img" />
  <a href="#" class="edit-right">
    <i class="fa fa-pen"></i>
  </a>
  <div class="perfil">
    <img [src]="miPorfolio?.image" alt="" class="perfil" />
    <div class="edit_perfil">
      <a href="#" class="edit-right">
        <i class="fa fa-pen"></i>
      </a>
    </div>
  </div>
  <div class="row row-cols-auto">
    <div class="col-4 col-sm-3 col-md-3 col-lg-3 titulo">
      <div class="edit_Nombre_perfil">
        <a href="#" class="edit-right">
          ame
          <i class="fa fa-pen"></i>
        </a>
      </div>
      <h1 class="Nombre__perfil text-center">
        {{ miPorfolio?.name }} {{ miPorfolio?.lastName }}<br />{{ miPorfolio?.position }}
      </h1>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-9 about">
      <h1>ACERCA DE</h1>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <p class="acercaDe">{{ miPorfolio?.about }}</p>
    </div>
  </div>
</div>
