<!-- Modal for Edition Name-->

<div class="modal fade" id="exampleModal-Name" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Name</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group mt-3 ">
          <input type="text" formControlName = "name" placeholder = "Name" class="form-control"> 
        </div><div class="form-group mt-3 ">
          <input type="text" formControlName = "lastname" placeholder = "lastName" class="form-control"> 
        </div>
        <div class="form-group mt-3 ">
          <input type="text" formControlName = "position" placeholder = "position" class="form-control"> 
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>




<!-- Modal for Edition About-->


<div class="modal fade" id="exampleModal-About" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit About</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" formControlName = "about" placeholder = "Insert About" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="col-12 border border-1 m-1 conten">
  <img class="banner" [src]="miPorfolio?.img" />
  <a href="#" class="edit-right">
   
  </a>
  <div class="perfil">
    <img [src]="miPorfolio?.image" alt="" class="perfil" />
    <div class="edit_perfil">
      <a href="#" class="edit-right" data-bs-toggle="modal" data-bs-target="#">
        <i class="fa fa-pen"></i>
      </a>
    </div>
  </div>
  <div class="row row-cols-auto">
    <div class="col-4 col-sm-3 col-md-3 col-lg-3 titulo">
      <div class="edit_Nombre_perfil">
        <a href="#" class="edit-right" data-bs-toggle="modal" data-bs-target="#exampleModal-Name">
          <i class="fa fa-pen"></i>
        </a>
      </div>
      <h1 class="Nombre__perfil text-center">
        {{ miPorfolio?.name}} {{ miPorfolio?.lastName }}<br />{{ miPorfolio?.position }}
      </h1>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-9 about">
      <h1>ACERCA DE</h1>
      <div class="edit_about">
        <a href="#" class="edit-right" data-bs-toggle="modal" data-bs-target="#exampleModal-About">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete">
          <i class="fa-sharp fa-solid fa-xmark"></i>
        </a>
      </div>
      <p class="acercaDe">{{ miPorfolio?.about }}</p>
    </div>
  </div>
</div>
