<div class="col-12 border border-1 m-1 conten">
  <!-- <div class="btn-edit d-flex">
      <a href="#" class="btn-right">
        <i class="fa fa-pen"></i>
      </a>
    </div> -->

  <img class="banner" src="assets/banner/images9.jpg" />
  <div class="perfil">
    <img src="assets/banner/perfil.png" alt="" class="perfil" />
  </div>
  <div class="row row-cols-auto">
    <div class="col-4 col-sm-3 col-md-3 col-lg-3 titulo">
      <h1 class="Nombre__perfil text-center">
        Gustavo Villegas <br />Full Stack Developer
      </h1>
      <h1 class="titulo__perfil"></h1>
    </div>
    <div class="col-12 col-sm-9 col-md-9 col-lg-9 about">
      <h1>ACERCA DE</h1>
      <p class="acercaDe">
        Soy un informático amante de la tecnología me gusta aprender como se
        hacen las cosas. Desde hace dos años he adquirido conocimientos más
        profundos desarrollando aplicaciones Web/móviles. Actualmente profundizo
        mi capacidad de análisis diseño implementando proyectos realizados en
        HTML, CSS, JavaScript, Ruby, React js. y en la actualidad ampliando mi
        perfil como Desarrollador Full-stack agregando al stack tecnológico
        Angular, MySql,Java, Spring Boot en la plataforma dirigida el Ministerio
        de desarrollo Productivo, el INTI y Argentina Programa
      </p>
    </div>
  </div>
</div>
