<div class="col-12 border border-1 m-1 conten trabajos">
  <div class="row row-cols-auto align-items-center">
    <div class="col-12 tituloExperiencia">
      <h1 class="educacion">EDUCACION</h1>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/Inti2.jpeg"
        alt="yo programo"
        width="55%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">ARGENTINA PROGRAMA</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">NERVICOM C.A</h2>
      <h2 class="experiencia">FULL STACK DEVELOPER</h2>
      <h2 class="experiencia">MARZ.2022-ENER.2023</h2>
      <p class="experiencia">
        Desarrollo web Full Stack, generar proyectos en HTML, CSS y Boostrap
        apartir de plantillas predeterminadas, Uso e implementacion de
        TypeScript. Creacion de proyectos en Angular basado en prototipos
        estaticos para crear aplicaciones SPA.<br />Creacion de Bases de Datos
        MySQL y MariaDB, POO, Java, Java Sprint Boot, Seguridad JWT, DevOps,
        Scrum,Git.
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/educacion It.jpeg"
        alt="yo programo"
        width="55%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">EDUCACION IT</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">TESTING</h2>
      <h2 class="experiencia">ANALISTA QA/ TESTER QA</h2>
      <h2 class="experiencia">NOV.2021-FEBR.2022</h2>
      <p class="experiencia">
        Testing focalizado en el Análisis de Requerimientos / Casos de Uso /
        Historias de Usuario y en el Diseño de Casos de Prueba.<br />Planes de
        Prueba para el Desarrollo de Software, Software Tester QA participando
        en Proyectos de Testing completos.
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/Udemy.jpeg"
        alt="yo programo"
        width="55%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">UDEMY</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">PLATAFORMA DE CURSOS</h2>
      <h2 class="experiencia">FRONT-END/BACK-END</h2>
      <h2 class="experiencia">Ener.2020-Actualidad</h2>
      <p class="experiencia">
        En esta Plataforma e ido incrementando mis conocimientos en general a lo
        que el desarrollo se refiere incursionando en tegnologia adaptadas a la
        actualidad para asi poder disponer de un stack tegnologico que me
        permita destacar en el mercado<br />En esta plataforma e adquirido
        conoicimiento mas profundos en HTML, CSS, SASS, JavaScript, React Js,
        Angular entre otros.
      </p>
    </div>

    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/escuela sistemas informaticos.jpg"
        alt="Nervicom"
        width="55%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">ESCUELA DE SISTEMAS INFORMATICOS</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">NERVICOM C.A</h2>
      <h2 class="experiencia">WEB-MASTER</h2>
      <h2 class="experiencia">JUN.2017-SEPT.2017</h2>
      <p class="experiencia">
        Diseñar, crear e implementar sitios web, uso de tecnologias como
        Html,Css,JavaScript para dar forma a template o diseños<br />responsable
        del diseño web, la funcionalidad y otros elementos del lado del cliente
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/Santiago Mariño.png"
        alt="Nervicom"
        width="55%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">
        INSTITUTO UNIVERSITARIO POLITECNICO SANTIAGO MARIÑO
      </h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">NERVICOM C.A</h2>
      <h2 class="experiencia">INGENIERIA EN SISTEMAS</h2>
      <h2 class="experiencia">Ener.2008-Jul.2013</h2>
      <p class="experiencia">
        Diseñar, programar, implementación y mantenimiento de sistemas.
        Incorpora métodos para optimizar el rendimiento económico. Evalúar
        costo, efectividad de los recursos, máquinas y técnicas implementadas en
        estos sistemas. Corregir la marcha de las diferentes etapas de un
        proyecto. Definir en combinación con la gerencia las necesidades de una
        organización. Formular planes que permitan integrar diferentes proyectos
        de un programa general de desarrollo, manejar adecuadamente las
        relaciones humanas y mantener una visión global del mundo.
      </p>
    </div>
  </div>
</div>
