<div class="col-12 border border-1 m-1 conten proyectos">
  <div class="row row-cols-auto align-items-center">
    <div class="col-12 titulo_proyectos">
      <h1 class="proyectos">PROYECTOS</h1>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project8.jpeg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="nombre_proyectos">PORFOLIO</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="tegnologia_proyectos">ANGULAR/JAVA/MYSQL</h2>
      <h2 class="fecha_proyectos">MARZ.2022-ENER.2023</h2>
      <p class="descripcion_proyectos">
        Desarrollo web Full Stack, generar proyectos en HTML, CSS y Boostrap
        apartir de plantillas predeterminadas y mostrar porfolio estructurado
        por Argentina Programa, Uso e implementacion de TypeScript. Creacion de
        proyectos en Angular basado en prototipos estaticos para crear
        aplicaciones SPA.<br />Creacion de Bases de Datos MySQL y MariaDB, POO,
        Java, Java Sprint Boot, Seguridad JWT, DevOps, Scrum,Git.
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project7.jpeg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="nombre_proyectos">PORFOLIO MINIMALISTA</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="tegnologia_proyectos">HTML/CSS/JS</h2>
      <h2 class="fecha_proyectos">MAY-2022</h2>
      <p class="descripcion_proyectos">
        Desarrollo web diseñado para mostrar porfolio, este proyecto fue
        realizado para mostrar de manera minimalista un pequeño cv mostrando
        habilidades o skill dando un poco de animacion al sitio y generando un
        poco de atracion a ver el sitio y mostrar de manera sencilla mis
        conocimiento y areas de estudio.<br />Tambien podras encontar una
        seccion de contacto directo a WhatsApp y tambien podras descargar mi
        ultimo cv actualizado
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project6.jpg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="nombre_proyectos">SPA DE UÑAS</h2>

      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="tegnologia_proyectos">HTML/CSS/PHP/JS</h2>
      <h2 class="fecha_proyectos">MAY-2022</h2>
      <p class="descripcion_proyectos">
        Desarrollo web SPA NAILS, este proyecto completo realizado para un sitio
        estetico de uñas, esta web fue diseñada para mostrar este
        establecimiento y donde se puede visualizar la gelocalizacion del sitio,
        ademas se agrego una seccion donde semuestran las reseñas GOOLGLE del
        establecimiento, los trabajos realizados tomados de instagram y
        adicional se enlaza con un gestor de citas y asi poder agendar algun
        tipoo de servicio que ofrece este.<br />Alguna vez te hiciste un
        servicio en tus manos o pies?
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project1.jpg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="nombre_proyectos">APP PELICULAS</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="tegnologia_proyectos">REACT JS</h2>
      <h2 class="fecha_proyectos">MAY-2022</h2>
      <p class="descripcion_proyectos">
        Desarrollo de App de peliculas, esta app fue realizada en React Js la
        cual extraemos de una Api la informacion y la pintamos en pantalla.<br />Esta
        app muestra un listado inicial de las peliculas mas relevantes y
        adicional al hacer click en cada una podemos mostrar una pequeñla
        descripcion de cada una, tambie se agrego un buscador para si poder
        buscar nuestra peli favorita.
      </p>
      ar
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project2.jpg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="nombre_proyectos">CALCULADORA</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="tegnologia_proyectos">HTML/CSS/JS</h2>
      <h2 class="fecha_proyectos">MAY-2021</h2>
      <p class="descripcion_proyectos">
        Desarrollo de calculadora desarrollada con HTML/CSS, JavaScript, se uso
        css grid y flex box para la estructura de la calculadora para su
        funciones se uso javascript y asi darle dinamismo a la misma.<br />
        te invito a probarla...
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project3.jpg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="nombre_proyectos">APP HEROES</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="tegnologia_proyectos">REACT JS</h2>
      <h2 class="fecha_proyectos">JUN-2021</h2>
      <p class="descripcion_proyectos">
        Desarrollo de APP Herores Marvel y DC Comics, este proyecto fue
        realizado con React js para obtener informacionde Appis y extraer el
        Heroe de eleccion puedes buscar y selleccionar el de tu preferencia y
        ver informacion de cada HeroeL.<br />
        Cual es tu Heroe favorito?
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project4.jpg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="nombre_proyectos">CARD TRAVEL</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="tegnologia_proyectos">HTML/CSS</h2>
      <h2 class="fecha_proyectos">Jul-2021</h2>
      <p class="descripcion_proyectos">
        Desarrollo card web y poder generar una serie de card o plantillas para
        un sitio web de viajes o turismo, usando estos ejemplos se puede generar
        una galeria y mostrar servicios hospedajes etc.<br />
        A donde te gustaria ir en tus proiximas vacaciones?
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project5.jpg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="nombre_proyectos">ANIMACIONES</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="tegnologia_proyectos">HTML/CSS</h2>
      <h2 class="fecha_proyectos">JUL-2021</h2>
      <p class="descripcion_proyectos">
        Desarrollo de grilla con animaciones infinitas, en cada reuadro podemos
        ejemplificar diferentes tipos de formas geometricas a las cuales le
        podemos dar animaciones dando una vista 3d<br />te gustaria usarla como
        loader en tu proyecto!
      </p>
    </div>
  </div>
</div>
