<div class="col-12 border border-1 m-1 conten proyectos">
  <div class="row row-cols-auto align-items-center">
    <div class="col-12 titulo_proyectos">
      <h1 class="proyectos">PROYECTOS</h1>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project1.jpg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="proyectos">APP PELICULAS</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="proyectos">REACT JS</h2>
      <h2 class="proyectos">MAY-2022</h2>
      <p class="proyectos">
        Desarrollo de App de peliculas, esta app fue realizada en React Js la
        cual extraemos de una Api la informacion y la pintamos en pantalla.<br />Esta
        app muestra un listado inicial de las peliculas mas relevantes y
        adicional al hacer click en cada una podemos mostrar una pequeñla
        descripcion de cada una, tambie se agrego un buscador para si poder
        buscar nuestra peli favorita.
      </p>
      ar
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project2.jpg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">ARGENTINA PROGRAMA</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">NERVICOM C.A</h2>
      <h2 class="experiencia">FULL STACK DEVELOPER</h2>
      <h2 class="experiencia">MARZ.2022-ENER.2023</h2>
      <p class="experiencia">
        Desarrollo web Full Stack, generar proyectos en HTML, CSS y Boostrap
        apartir de plantillas predeterminadas, Uso e implementacion de
        TypeScript. Creacion de proyectos en Angular basado en prototipos
        estaticos para crear aplicaciones SPA.<br />Creacion de Bases de Datos
        MySQL y MariaDB, POO, Java, Java Sprint Boot, Seguridad JWT, DevOps,
        Scrum,Git.
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project3.jpg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">ARGENTINA PROGRAMA</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">NERVICOM C.A</h2>
      <h2 class="experiencia">FULL STACK DEVELOPER</h2>
      <h2 class="experiencia">MARZ.2022-ENER.2023</h2>
      <p class="experiencia">
        Desarrollo web Full Stack, generar proyectos en HTML, CSS y Boostrap
        apartir de plantillas predeterminadas, Uso e implementacion de
        TypeScript. Creacion de proyectos en Angular basado en prototipos
        estaticos para crear aplicaciones SPA.<br />Creacion de Bases de Datos
        MySQL y MariaDB, POO, Java, Java Sprint Boot, Seguridad JWT, DevOps,
        Scrum,Git.
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project4.jpg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">ARGENTINA PROGRAMA</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">NERVICOM C.A</h2>
      <h2 class="experiencia">FULL STACK DEVELOPER</h2>
      <h2 class="experiencia">MARZ.2022-ENER.2023</h2>
      <p class="experiencia">
        Desarrollo web Full Stack, generar proyectos en HTML, CSS y Boostrap
        apartir de plantillas predeterminadas, Uso e implementacion de
        TypeScript. Creacion de proyectos en Angular basado en prototipos
        estaticos para crear aplicaciones SPA.<br />Creacion de Bases de Datos
        MySQL y MariaDB, POO, Java, Java Sprint Boot, Seguridad JWT, DevOps,
        Scrum,Git.
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project5.jpg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">ARGENTINA PROGRAMA</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">NERVICOM C.A</h2>
      <h2 class="experiencia">FULL STACK DEVELOPER</h2>
      <h2 class="experiencia">MARZ.2022-ENER.2023</h2>
      <p class="experiencia">
        Desarrollo web Full Stack, generar proyectos en HTML, CSS y Boostrap
        apartir de plantillas predeterminadas, Uso e implementacion de
        TypeScript. Creacion de proyectos en Angular basado en prototipos
        estaticos para crear aplicaciones SPA.<br />Creacion de Bases de Datos
        MySQL y MariaDB, POO, Java, Java Sprint Boot, Seguridad JWT, DevOps,
        Scrum,Git.
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project6.jpg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">ARGENTINA PROGRAMA</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">NERVICOM C.A</h2>
      <h2 class="experiencia">FULL STACK DEVELOPER</h2>
      <h2 class="experiencia">MARZ.2022-ENER.2023</h2>
      <p class="experiencia">
        Desarrollo web Full Stack, generar proyectos en HTML, CSS y Boostrap
        apartir de plantillas predeterminadas, Uso e implementacion de
        TypeScript. Creacion de proyectos en Angular basado en prototipos
        estaticos para crear aplicaciones SPA.<br />Creacion de Bases de Datos
        MySQL y MariaDB, POO, Java, Java Sprint Boot, Seguridad JWT, DevOps,
        Scrum,Git.
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project7.jpeg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">ARGENTINA PROGRAMA</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">NERVICOM C.A</h2>
      <h2 class="experiencia">FULL STACK DEVELOPER</h2>
      <h2 class="experiencia">MARZ.2022-ENER.2023</h2>
      <p class="experiencia">
        Desarrollo web Full Stack, generar proyectos en HTML, CSS y Boostrap
        apartir de plantillas predeterminadas, Uso e implementacion de
        TypeScript. Creacion de proyectos en Angular basado en prototipos
        estaticos para crear aplicaciones SPA.<br />Creacion de Bases de Datos
        MySQL y MariaDB, POO, Java, Java Sprint Boot, Seguridad JWT, DevOps,
        Scrum,Git.
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/project8.jpeg"
        alt="yo programo"
        width="85%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">ARGENTINA PROGRAMA</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">NERVICOM C.A</h2>
      <h2 class="experiencia">FULL STACK DEVELOPER</h2>
      <h2 class="experiencia">MARZ.2022-ENER.2023</h2>
      <p class="experiencia">
        Desarrollo web Full Stack, generar proyectos en HTML, CSS y Boostrap
        apartir de plantillas predeterminadas, Uso e implementacion de
        TypeScript. Creacion de proyectos en Angular basado en prototipos
        estaticos para crear aplicaciones SPA.<br />Creacion de Bases de Datos
        MySQL y MariaDB, POO, Java, Java Sprint Boot, Seguridad JWT, DevOps,
        Scrum,Git.
      </p>
    </div>
  </div>
</div>
