<div class="col-12 border border-1 m-1 superior conten header">
  <div class="row row-cols-auto align-items-center">
    <div class="col-4 col-sm-4 col-md-4 col-lg-3 logo yoProgramo text-center">
      <img
        src="assets/logos portafolio/yo programo.png "
        alt="yo programo"
        width="60%"
        height="auto"
        class="mx-auto d-block yoProgramo"
      />
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-3 logo inti text-center">
      <img
        src="assets/logos portafolio/logo Inti1.png"
        alt="Inti"
        width="25%"
        height="auto"
        class="mx-auto inti"
      />
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-3 logo ministerio text-center">
      <img
        src="assets/logos portafolio/ministerio.png"
        alt="Ministerio"
        width="65%"
        height="auto"
        class="mx-auto d-block ministerio"
      />
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-3">
      <div class="row row-cols-auto text-center">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-center social">
          <ul class="profile__social">
            <a
              href="https://www.linkedin.com/in/gustavo-antonio-villegas-arbea/"
              target="_blank"
              class="profile__social-link"
            >
              <i class="ri-linkedin-box-line"></i>
            </a>

            <a href="https://github.com/opel777" class="profile__social-link"
              ><i class="ri-github-line"></i>
            </a>

            <a
              href="http://gustavovillegas.epizy.com/"
              class="profile__social-link"
              ><i class="ri-briefcase-line"></i>
            </a>
          </ul>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 text-center button">
          <button class="btn">
            <p class="login">login</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
