<div class="col-12 border border-1 m-1 conten trabajos">
  <div class="row row-cols-auto align-items-center">
    <div class="col-12 tituloExperiencia">
      <h1 class="experiencia">EXPERIENCIA</h1>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/idforideas.jpg"
        alt="yo programo"
        width="55%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>

    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">{{ miPorfolio.experience[0].company }}</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">{{ miPorfolio.experience[0].position1 }}</h2>
      <h2 class="experiencia">
        {{ miPorfolio.experience[0].start }}-{{ miPorfolio.experience[0].end }}
      </h2>
      <p class="experiencia">
        {{ miPorfolio.experience[0].descriptionPosition }}
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/Osc.jpg"
        alt="yo programo"
        width="55%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">OSC SERVICIOS DE TELECOMUNICACIONES</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">Ing. Obra y Proyectos Red Optica</h2>
      <h2 class="experiencia">Dic.2018-Marz.2022</h2>
      <p class="experiencia">
        Relevamientos generales para la implementacion de nodos/anillos de la
        red Optica Argentina.<br />Verificacion, instalacion y puesta en marcha
        de sistemas DWDM Nokia Argentina
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/Newcom.jpg"
        alt="yo programo"
        width="55%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">NEWCOM</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>

      <h2 class="experiencia">Ing. Obra y Proyectos Wi-Fi</h2>
      <h2 class="experiencia">Ener.2017-Dic.2018</h2>
      <p class="experiencia">
        Relevamientos generales para la implementación de redes Wi-Fi para los
        colegios de las unidades educativas del Gran Buenos Aires<br />Verificación,
        instalación y supervisión de actividades del personal.
      </p>
    </div>
    <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
      <img
        src="assets/banner/Nervicom.jpeg"
        alt="Nervicom"
        width="55%"
        height="auto"
        class="mx-auto d-block imglogo"
      />
    </div>
    <div class="col-9 col-sm-10 col-md-10 col-lg-10">
      <h2 class="experiencia">NERVICOM C.A</h2>
      <div class="edit_about">
        <a href="#" class="edit-right">
          <i class="fa fa-pen"></i>
        </a>
        <a href="#" class="delete"
          ><i class="fa-sharp fa-solid fa-xmark"></i
        ></a>
      </div>
      <h2 class="experiencia">Ing. Obra y Proyectos Red Microondas</h2>
      <h2 class="experiencia">Ener.2000-Jul.2017</h2>
      <p class="experiencia">
        Diseñar, crear e implementar redes Microondas por el territorio
        Venezolano, Monitoreo general de la infraestrutura creada<br />Supervision,
        adiestramiento del personal, desarrollar en conjunto con el departamento
        de tecnolgia nuevos diseños para la implementacion de las necesidades de
        nuevos clientes.
      </p>
    </div>
  </div>
</div>
