<div class="col-12 border border-1 m-1 conten trabajos">
  <div class="row row-cols-auto align-items-center">
    <div class="col-12 tituloExperiencia">
      <h1 class="experiencia">EXPERIENCIA</h1>
      <div class="edit_about">
        <a href="#" class="delete">
         
        </a>
     </div> 
    </div>
    <div class="componentes" *ngFor="let experience of miPorfolio">
      <div class="col-3 col-sm-2 col-md-2 col-lg-2 logoTrabajo text-center">
        <img
          [src]="experience.img"
          alt="yo programo"
          width="55% "
          height="auto"
          class="mx-auto d-block imglogo"
        />
      </div>

      <div class="col-9 col-sm-10 col-md-10 col-lg-10">
        <h2 class="experiencia">{{ experience.company }}</h2>
        <div class="edit_about">
          <a href="#" class="edit-right">
            <i class="fa fa-pen"></i>
          </a>
          <a href="#" class="delete"
            ><i class="fa-sharp fa-solid fa-xmark"></i
          ></a>
        </div>
        <h2 class="experiencia">{{ experience.position1 }}</h2>
        <h2 class="experiencia">{{ experience.start }}-{{ experience.end }}</h2>
        <p class="experiencia">
          {{ experience.descriptionPosition }}
        </p>
      </div>
    </div>
  </div>
</div>
