<div class="container container-fluid">
  <!---------------------------------------div container Header -------------------------------------------------->
  <app-encabezado></app-encabezado>
  <!-- ------------------------------------------div container about -------------------------- -->
  <app-acerca-de></app-acerca-de>
  <!------------------------------------div container woking------------------------------------>
  <app-experiencia></app-experiencia>
  <!------------------------------------- div container Education  ------------------------------------------->
  <app-educacion></app-educacion>
  <!-- ----------------------------------------------------------------------------------------------- -->
  <!-- ------------------------------------------------skill----------------------------------------------- -->
  <app-skill></app-skill>
  <!-- ------------------------------------------------------------------------------------------------------------- -->
  <!-- ------------------------------------------------------Proyectos-------------------------------------------- -->
  <app-proyectos></app-proyectos>
  <!-- ------------------------------------------------------------------------------------------------- -->
</div>
