body {
  background-image:url(assets/banner/images14.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
/* ----------------------------edit------------------- */
.edit-right,.fa-sharp{
  /* display: none; */
}
/* -------------------------------------------------------- */

/* --------------------Borde para todos los div-------------------- */
div {
  border-radius: 10px;
}
div.conten{
  background-color: rgba(47, 46, 46, 0.779);
 
}
/* --------------------------div componentes-------------------------- */
.componentes{
  display:flex;
  padding-top: 4%;
}
------------------------------------------------------
/* -------------------------------------------------------------------- */

/* -----------------------------------boton edit--------------------------- */
.edit_perfil{
  display: flex;
  position: absolute;
  padding: 0% 30% 0% 14%;
  
  
}
.edit_banner{
  display:flex;
  position: absolute;
  margin-top:-16.8%;
  margin-left:81%;
}
.edit_Nombre_perfil{
  display: flex;
  position: absolute;
  margin-top: 5vw;
  margin-left:17%;
}
.edit_about{
  display:flex;
  position: absolute;
  margin-top:-3%;
  margin-left:58%;
}
i.edit_about{
  padding:2px
}
img.banner {
  width: 100%;
  height: 17vw;
  display: flex;
  position: relative;
  border-radius:10px 10px 0 0;
  
}
/* ----------------------------------------------------------------------------------------------------- */



/*----------------------------------------- imagen circular de perfil--------------------------- */
img.perfil{
    position:absolute; 
    width:29%;
    clip-path: circle();
    z-index: 1; 
    margin-top:-8vw;
    margin-left:-6vw;
   
}
.perfil{
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(85,85,88,1) 35%, rgba(0,212,255,1) 100%);
  padding-left:2vw;
}
/* ----------------------------------------------------------------------------------------------------- */


/* ------------------alineacion para los ul y los a de la barra de navegacion --------------- */
ul.profile__social{
  padding-top:8px;
}
a{
  margin: 3px;
  align-items:center;
  text-decoration: none;
  color: #fff;
}
/* ----------------------------------------------------------------------------------------------------- */


/* --------------------------------estilos y alineacion para los h1 y h2------------------- */

h1,h2{
color: #fff;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size:1.2vw;
margin-left:-4vw;
margin-top:4.5vw;
padding-left:5vw
}
h2,p.experiencia {
  margin-top:0.1vw; 
  padding-top: 0.1vw; 
}
h1,h2.experiencia{
  color:#fff  
}

/* -------------------------------------------------------------------------------------------- */


/* ------------------------------estilos para los parrafos---------------------------  ---- */


p{
    text-align: justify;
    padding:0.9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9em;
    color:#fff
    
}
/* ------------------------------------------------------------------------------------------- */


/* ------------------------------tamaño de line(iconos redes sociales) --------------------*/


.line{
  width:50%;
  height:auto;
}

/* -------------------------------------------------------------------------------------------- */ */

/* -------------------------------button para iniciar sesion login -----------------------*/
.button{
  text-align: center; 
}

/* --------------------------------------------------------------------------------------- */

.tituloExperiencia{
  margin-left:2vw;
}

.imglogo{
  border-radius:6px;
  box-shadow: 10px 10px 14px 2px rgba(15,15,14,1);

}

.laboral{
  display: flex;
}
/* --------------------zoom hover----------------------- */
.imglogo:hover{
  transform:scale(1.2);
}
/* ------------------------------------------------------- */
/* ----------------------------------------------------circular-progress---------------------------------------------- */
div.progreso{
  margin:0;
  padding:1rem;
  font-family: sans-serif;
  background-color:rgb(47, 46, 46);

}
.skills-container{
  margin-top: 2rem;
}
.circular-progress {
  margin: auto;
  position: relative;
}
.circular-progress, .circular-progress:before, .circular-progress:after {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  
}
.circular-progress:before, .circular-progress:after {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}
.circular-progress:before {
  padding: 0.5em;
  box-sizing: border-box;
  
  font-size: 1.5rem;
  line-height: 6rem;
}
.circular-progress:after {
  line-height: 13rem;
}
.HTML {
  transform: rotate(126deg);
  background: linear-gradient(0deg, orange 50%, rgba(255, 165, 0, .2) 50%);
}
.HTML:before, .HTML:after {
  color: orange;
}
.HTML:before {
  content: "HTML";
  background: rgb(47, 46, 46) content-box;
  transform: rotate(-126deg);
}
.HTML:after {
  content: "70%";
  background: linear-gradient(transparent 50%,rgb(47, 46, 46) 50%);
  transform: scale(1.1) rotate(-126deg);
}
.CSS {
  transform: rotate(117deg);
  background: linear-gradient(0deg, red 50%, rgba(255, 0, 0, .2) 50%);
}
.CSS:before, .CSS:after {
  color: red;
}
.CSS:before {
  content: "CSS";
  background:rgb(47, 46, 46) content-box;
  transform: rotate(-117deg);
}
.CSS:after {
  content: "65%";
  background: linear-gradient(transparent 50%,rgb(47, 46, 46) 50%);
  transform: scale(1.1) rotate(-117deg);
}
.JS {
  transform: rotate(72deg);
  background: linear-gradient(0deg, yellow 50%, rgba(255, 255, 0, .2) 50%);
}
.JS:before, .JS:after {
  color: yellow;
}
.JS:before {
  content: "Js";
  background: rgba(47, 46, 46) content-box;
  transform: rotate(-72deg);
}
.JS:after {
  content: "40%";
  background: linear-gradient(transparent 50%,rgba(47, 46, 46) 50%);
  transform: scale(1.1) rotate(-72deg);
}
/* ------------------------------------------React------------------------------------ */
.React {
  transform: rotate(63deg);
  background: linear-gradient(0deg, blue 50%, rgba(255, 165, 0, .2) 50%);
}
.React:before, .React:after {
  color: blue;
}
.React:before {
  content: "React";
  background: rgba(47, 46, 46) content-box;
  transform: rotate(-63deg);
}
.React:after {
  content: "35%";
  background: linear-gradient(transparent 50%,rgba(47, 46, 46) 50%);
  transform: scale(1.1) rotate(-63deg);
}
/* -----------------------------------------------Angular-------------------------------------------------- */
.Angular {
  transform: rotate(81deg);
  background: linear-gradient(0deg, green 50%, rgba(255, 165, 0, .2) 50%);
}
.Angular:before, .Angular:after {
  color: green;
}
.Angular:before {
  content: "Angular";
  background: rgba(47, 46, 46) content-box;
  transform: rotate(-81deg);
}
.Angular:after {
  content: "45%";
  background: linear-gradient(transparent 50%,rgba(47, 46, 46) 50%);
  transform: scale(1.1) rotate(-81deg);
}
/* -------------------------------------------------------------------------------------------------------------- */
/* -----------------------------------------------Ruby-------------------------------------------------- */
.Ruby {
  transform: rotate(72deg);
  background: linear-gradient(0deg, purple 50%, rgba(255, 165, 0, .2) 50%);
}
.Ruby:before, .Ruby:after {
  color: purple;
}
.Ruby:before {
  content: "Ruby";
  background: rgba(47, 46, 46) content-box;
  transform: rotate(-72deg);
}
.Ruby:after {
  content: "45%";
  background: linear-gradient(transparent 50%,rgba(47, 46, 46) 50%);
  transform: scale(1.1) rotate(-72deg);
}
/* ----------------------------------------Skills container---------------------------------------------------------------------- */
.skills-container{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
}

/* ---------------------------------------Proyectos------------------------------------------------------------------------------ */


/* ----------------------------------media para telefonos----------------------------------- */


@media (max-width:576px){
  h1,h2{
    font-size:2.6vw;
    margin-top:4.3vw;

    margin-left:-1.8vw;
  }
  body{
    background-attachment: fixed;
  }  
}
@media (max-width:576px){
  img.perfil{
    margin-left:-1vw;
  }
  .edit_perfil{
    margin:-2% 6%;
  }
  i.edit_perfil{
    width:0.1%
  }
  .edit_banner{
   margin-left:88%;
  }
  .edit_Nombre_perfil{
    margin-left: 28vw;
  }
}
@media (max-width:576px){
  img.logo{
    text-align: center
  }
}
/* ------------------------------------Tablets--------------------------------------- */

/* ------------------------------------desktop-------------------------------------- */

/* ---------------------------------large desltop----------------------------------- */
